

/* Fonts */
.txt {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.txt-b {
    font-family: "Electrolize", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem;
}

.txt-t {
    font-family: "Electrolize", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #922BD9;
}

.txt-f {
    font-family: "Electrolize", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
}



.span-name {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #922BD9;
    font-size: 4rem;
}

#titletxt {
    text-align: center;
    font-size: 3.5rem;
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2B6CD9;
}

/* HEADER */
.header-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    gap: 5px;
    height: 600px;
    width: 100%;   
}

.bg-img {
    height: 600px;
    width: 100%;
}

.hbox-1 {
    grid-area: 1 / 1 / 3 / 4;
}

.hbox-2 {
    order: 1;
    grid-area: 2 / 3 / 3 / 2;
}

/* COLORS */

.body-background {
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-background {
    background-color: #9290C3;

}



.contact.h2 {
    color: #922BD9
}

.contact.h3 {
    color: #922BD9;
}

#projects h5 {
    color: #922BD9;
}

#body-title {
    color: #922BD9!important;
}

/* IMAGES */

.my-emoji {
    height: 150px;
    width: 150px;
}

.project-img {
    height: 250px;
}

.footer-img {
    width: 25px;
}